<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.demo.asa.vwe.blog.dao.BlogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.demo.asa.vwe.blog.model.BlogModel">
        <result column="id" property="id"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <select id="selectWithPage" resultType="pers.demo.asa.vwe.blog.model.BlogModel">
        select *
        from asa_vwe_parent.vwe_blog
        <where>
            <if test="model.author != null">
                and author = #{model.author}
            </if>
            <if test="model.title != null">
                and title like concat("%",#{model.title},"%")
            </if>
            <if test="model.content != null">
                and content like concat("%",#{model.content},"%")
            </if>
        </where>

    </select>
</mapper>
