<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asa.demo.mybatis.mysql.dao.UserDao">
    <resultMap id="BaseColumn" type="pers.demo.asa.vwe.blog.model.VWEBlogModel">

    </resultMap>



</mapper>